<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <p>
  <%= f.label :username %>
  <%= f.text_field :username%>
  </p>

  <p>
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>
  </p>

  <p>
  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "off" %>
  </p>

  <p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </p></br>

  <p>Upload a Image of yourself</p></br>
  <%= image_tag @user.avatar%></br>
  <%= f.file_field :avatar %></br>

  <%= f.submit "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
