<div class="row">
  <div class="small-8 large-centered columns">
    <h1>Fauteuil's Selection of Chairs</h1>
     <%= link_to "My Turn to Add a Chair", new_chair_path, class:"button expand"%>
  </div>
</div>

<% if params[:search] %>
  <%= link_to "back", chairs_path %>
<% end %>

<% @chairs.each do |chair| %>
  <div class="row chair" data-type="background" id="<%=chair.id%>">
    <article class="chair-focus">
      <%= link_to image_tag(chair.picture_url), chair_path(chair.id) %>
      <%=  chair.name%>
      Location: <%= chair.location %>
    </article>
  </div>
<% end %>
