<div class="row">
  <div class="small-8 large-centered columns">
    <h1>Fauteuil's Selection of Chairs</h1>
  </div>
</div>

  <% @chairs.each do |chair| %>
    <div class="row chair" data-type="background" id="<%=chair.id%>">
      <article class="chair-focus">
        <%= chair.picture %>
        <%= link_to chair.name, chair_path(chair.id)%>
        Location: <%= chair.location %>
      </article>
    </div>
  <% end %>

<div class="row">
  <%= link_to "My Turn to Add a Chair", new_chair_path %>
</div>
