
<h2> Add a new chair! </h2>

<ul>
  <% if @chair.errors.any? %>
     <% @chair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
     <% end %>
  <% end %>
</ul>

<%= form_for @chair do |f| %>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :name %>
      <%= f.text_field :name ,placeholder: "e.g. stool" %>
    </div>
  </div>

   <div class="row">
    <div class="large-4 columns">
      <%= f.label :manufacturer %>
      <%= f.text_field :manufacturer,placeholder: "e.g. Ikea" %>
 </div>
  </div>

 <div class="row">
    <div class="large-4 columns">
      <%= f.label :location %>
      <%= f.text_field :location,placeholder:"where you found this chair" %>
   </div>
  </div>
 <div class="row">
    <div class="large-4 columns">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "e.g. Amazing back support,
      blends in with my red curtains, etc..." %>
   </div>
  </div>
 <div class="row">
    <div class="large-4 columns">
      <%= f.label :category %>
      <%= f.collection_select(:category_id, Category.all, :id, :name)%>
      <%= f.submit 'Add Chair', :class => 'button tiny' %>
    </div>
  </div>
  <% end %>

  <%= f.file_field :picture %>

  <%= f.submit "Add Chair" %>
<% end %>
<br>
<%= link_to "H O M E", chairs_path%>
