<h2>Review <%= @chair.name %></h2>

<%= form_for([@chair, @review]) do |f| %>

  <% if @review.errors.any? %>

    <p id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </p>

  <% end %>

<p>
  <%= f.label :rating %>
  <%= f.select :rating, (1..5) %>
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body %>
</p>

  <%= f.submit %>

<% end %>
