<!DOCTYPE html>
<html>
<head>
  <title>Fauteuil</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="notice"><strong><%= notice %></strong></p>
    <p class="alert"><%= alert %></p>
  </div>

  <%= yield %>

</body>
</html>
