<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fauteuil</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  </head>

  <body>
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/chairs">Fauteuil</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><%= link_to 'Fauteuil', root_path %></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-form">
        <%= form_tag chairs_path, method: 'get' do %>
          <div class="row collapse">
            <div class="small-8 columns">
              <%= text_field_tag :search, nil, placeholder: "Find a dream chair..." %>
            </div>
            <div class="small-4 columns">
              <%= submit_tag "Search", class: "alert button"  %>
            </div>
          </div>
          <% end %>
        </div>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <% if user_signed_in? %>
      <li><a href="#">Signed in as <%= current_user.email %></a></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% if current_user && current_user.admin?%>
      <li><%= link_to 'Admin Section', chairs_path %></li>
      <% end %>
      <% else %>

        <li><%= link_to 'Register', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>

      <% end %>
    </ul>
  </section>
</nav>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div data-alert class="alert-box <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
    <%= content_tag :div, msg %>
    <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
